<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form id="dataForm" lay-filter="dataForm" class="layui-form layuimini-form">
    <div class="layui-form-item" hidden>
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-block">
            <input disabled type="text" name="id" lay-verify="required" value="" class="layui-input">
            <tip>填写自己管理账号的名称。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-block">
            <input disabled type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input layui-disabled">
            <tip>填写自己管理账号的名称。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">用户类型</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="0" title="前台">
            <input type="radio" name="type" value="1" title="后台">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">手机</label>
        <div class="layui-input-block">
            <input type="number" name="cellphone" lay-verify="required" lay-reqtext="手机不能为空" placeholder="请输入手机" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="email" name="email" lay-verify="required" lay-reqtext="邮箱不能为空" placeholder="请输入邮箱" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</form>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var editObj = parent.editObj;
        console.log("edit",editObj)
        form.val('dataForm', editObj)
        $("input[name='id']").val(editObj.id)
        $("input[name='username']").val(editObj.username)
        $("input[name='email']").val(editObj.email)
        $("input[name='cellphone']").val(editObj.cellphone)
        $("input:radio[value="+editObj.type+"]").attr("checked","true");
        $("input[name='password']").val(editObj.password)
        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("/user/update",{
                id:data.field.id,
                username:data.field.username,
                password:data.field.password,
                email:data.field.email,
                cellphone:data.field.cellphone,
                type:data.field.type
            }).then(res=>{
                layer.msg(res.msg);
            if(res.code===200){
                parent.location.reload(); // 父页面刷新
                // 关闭弹出层
                var iframeIndex = parent.layer.getFrameIndex(window.name);
                parent.layer.close(iframeIndex);
            }
        })
            return false;
        });

    });
</script>
</body>
</html>