<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form id="dataForm" lay-filter="dataForm" class="layui-form layuimini-form">
    <div class="layui-form-item" hidden>
        <label class="layui-form-label">brandName</label>
        <div class="layui-input-block">
            <input name="id" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">brandName</label>
        <div class="layui-input-block">
            <input name="brandName" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">modelName</label>
        <div class="layui-input-block">
            <input name="modelName" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">os</label>
        <div class="layui-input-block">
            <input name="os" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">popularity</label>
        <div class="layui-input-block">
            <input name="popularity" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">bestPrice</label>
        <div class="layui-input-block">
            <input name="bestPrice" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">lowestPrice</label>
        <div class="layui-input-block">
            <input name="lowestPrice" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">highestPrice</label>
        <div class="layui-input-block">
            <input name="highestPrice" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">sellersAmount</label>
        <div class="layui-input-block">
            <input name="sellersAmount" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">screenSize</label>
        <div class="layui-input-block">
            <input name="screenSize" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">memorySize</label>
        <div class="layui-input-block">
            <input name="memorySize" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">batterySize</label>
        <div class="layui-input-block">
            <input name="batterySize" lay-verify="required" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">releaseDate</label>
        <div class="layui-input-block">
            <input name="releaseDate" lay-verify="required" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</form>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var editObj = parent.editObj;
        console.log("edit",editObj)
        form.val('dataForm', editObj)
        $("input[name='id']").val(editObj.id)
        $("input[name='brandName']").val(editObj.brandName)
        $("input[name='modelName']").val(editObj.modelName)
        $("input[name='os']").val(editObj.os)
        $("input[name='popularity']").val(editObj.popularity)
        $("input[name='bestPrice']").val(editObj.bestPrice)
        $("input[name='lowestPrice']").val(editObj.lowestPrice)
        $("input[name='highestPrice']").val(editObj.highestPrice)
        $("input[name='sellersAmount']").val(editObj.sellersAmount)
        $("input[name='screenSize']").val(editObj.screenSize)
        $("input[name='memorySize']").val(editObj.memorySize)
        $("input[name='batterySize']").val(editObj.batterySize)
        $("input[name='releaseDate']").val(editObj.releaseDate)
        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post("/phonesData/update",{
                id:data.field.id,
                brandName:data.field.brandName,
                modelName:data.field.modelName,
                os:data.field.os,
                popularity:data.field.popularity,
                bestPrice:data.field.bestPrice,
                lowestPrice:data.field.lowestPrice,
                highestPrice:data.field.highestPrice,
                sellersAmount:data.field.sellersAmount,
                screenSize:data.field.screenSize,
                memorySize:data.field.memorySize,
                batterySize:data.field.batterySize,
                releaseDate:data.field.releaseDate,
            }).then(res=>{
                layer.msg(res.msg);
            if(res.code===200){
                parent.location.reload(); // 父页面刷新
                // 关闭弹出层
                var iframeIndex = parent.layer.getFrameIndex(window.name);
                parent.layer.close(iframeIndex);
            }
        })
            return false;
        });

    });
</script>
</body>
</html>